.bento {
   display: grid;
   row-gap: 1rem;
   column-gap: 1rem;
   grid-template-columns: repeat(5, 1fr);
   grid-template-rows: repeat(5, 1fr);
   
   grid-template-areas:
      "a a a b c"
      "a a a d d"
      "e f g d d"
      "h h i i k"
      "h h j j k"
   ;

   width: 100%;
   aspect-ratio: 1/1;
}

.box {
   background-color: red;
   border-radius: 1rem;
}

.a{grid-area:a;}
.b{grid-area:b;}
.c{grid-area:c;}
.d{grid-area:d;}
.e{grid-area:e;}
.f{grid-area:f;}
.g{grid-area:g;}
.h{grid-area:h;}
.i{grid-area:i;}
.j{grid-area:j;}
.k{grid-area:k;}